@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
	--color-light-gray: #f9fafb;
	--color-gray: #e5e7eb;
	--color-dark: #111827;
	--color-purple: #8b5cf6;

	--border-radius4: 4px;
	--border-radius16: 16px;
	--border: 2px solid var(--color-dark);
}

