body {
	background-color: var(--color-gray);
	height: 100%;
	width: 100vw;
	font-family: 'inter', 'sans-serif';
	color: var(--color-dark);
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

header {
	height: 192px;
	width: 100vw;
	background-color: var(--color-light-gray);
}

.header__container {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 192px;
	margin-right: 192px;
}

.header__logo {
	float: left;
}

.header__info {
	display: flex;
	justify-content: right;
	align-items: right;
}
.info__section {
	font-size: 14px;
	color: #333;
	line-height: 7px;
	text-align: right;
	padding-right: 7px;
}

.phone__container {
	text-align: center;
	border-left: 2px solid var(--color-purple);
	padding-left: 7px;
	line-height: 3px;
}

.phone__number {
	font-size: 26px;
	font-weight: 900;
}

.phone__calls {
	font-size: 16px;
}

.nav__container {
	margin-top: 30px;
	position: relative;
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	gap: 20px;
	justify-content: left;
}

.nav__button {
	text-decoration: none;
	font-size: 16px;
	color: var(--color-dark);
	font-weight: bold;
}

.active__button {
	color: var(--color-purple);
	position: relative;
}

.active__button::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: var(--color-purple);
	margin-top: 2px;
}

.nav__button:hover {
	color: var(--color-purple);
	cursor: pointer;
}

button {
	color: white;
	border: none;
	border-radius: var(--border-radius4);
	cursor: pointer;
}

.application__button {
	height: 44px;
	width: 196px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0px;
	background-color: var(--color-purple);
}

main {
	width: 1536px;
	display: flex;
	justify-content: center;
}

#Калькулятор {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin-top: 72px !important;
	width: fit-content;
}

.information__container {
	height: 584px;
	width: 756px;
	position: relative;
}

.information__container p:first-of-type {
	font-size: 39px;
	font-weight: 900;
	position: relative;
	top: -30px;
}

.information__container p:last-of-type {
	font-size: 22px;
	font-weight: 400;
	position: relative;
	top: -65px;
}

.information__container img {
	position: relative;
	top: -79px;
}

.calculator__container {
	height: 584px;
	width: 756px;
	background-color: var(--color-light-gray);
	border-radius: var(--border-radius16);
	display: flex;
	flex-direction: column;
	min-height: 584px;
	justify-content: center;
	align-items: center;
}

.calculator__text {
	width: 358px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calculator__text p:first-of-type {
	font-size: 24px;
	font-weight: 700;
}

.calculator__text p:last-of-type {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	position: relative;
	top: -10px;
}

.form__container {
	width: 496px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.form__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form__item input {
	padding: 10px;
	font-size: 16px;
	border: 2px solid var(--color-dark);
	border-radius: 4px;
	outline: none;
}

.submit__button {
	padding: 15px;
	font-size: 18px;
	background-color: var(--color-purple);
	color: white;
	border: none;
	cursor: pointer;
}

.form__item--wide {
	grid-column: span 2;
}

#О-нас {
	margin-top: 72px;
	margin-bottom: 72px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 452px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inter', 'sans-serif';
	color: var(--color-dark);
	font-weight: 900;
}

.advantages__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: fit-content;
	gap: 24px;
}

.advantages__item {
	height: 184px;
	width: 496px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.advantages__item p {
	margin-top: 12px;
	font-size: 16px;
}

.advantages__item img {
	margin-right: 12px;
}

#Гарантии {
	height: fit-content;
	width: 1536px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 72px;
}

.quality__container {
	width: 756px;
	text-align: center;
}

.quality__container p {
	font-size: 18px;
}

.documents__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	margin-top: 24px;
	margin-bottom: 36px;
}

.document__item {
	height: 407px;
	width: 366px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.quality__button {
	width: 315px;
	height: 56px;
	background-color: var(--color-purple);
}

#Отзывы {
	height: 418px;
	width: 1536px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 72px;
}

.review__text {
	margin-bottom: 32px;
}

.review__container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	width: 1536px;
	overflow: hidden;
}

.review__slider {
	width: 1276px;
	overflow: hidden;
}

#reviewContainer {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.review__item {
	min-width: 556px;
	height: 254px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 32px;
	padding-bottom: 32px;
	background: var(--color-light-gray);
	text-align: left;
	margin-right: 24px;
	border-radius: 16px !important;
	border: none !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 256px;
}

.review__item p {
	font-size: 25px;
	margin-bottom: 30px;
	font-weight: 700;
	text-align: left;
	position: relative;
	top: -25px;
}

.author__name {
	font-size: 18px !important;
	font-weight: 200 !important;
	color: #6b7280;
}

#prevButton {
	background-color: var(--color-gray) !important;
	border-radius: 0px !important;
	cursor: pointer;
	margin-left: 23px;
	margin-right: 47px;
}

#nextButton {
	background-color: var(--color-gray) !important;
	border-radius: 0px !important;
	cursor: pointer;
	margin-left: 47px;
	margin-right: 23px;
}

#questions__container {
	height: 554px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 72px;
	background-color: var(--color-light-gray);
	border-radius: 16px;
	margin: 0 auto;
	margin-bottom: 70px;
}

.questions__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 48px);
	gap: 24px;
}

.form__item--large {
	grid-row: 3 / 5;
	grid-column: span 2;
}

.form__item--large textarea {
	height: 100%;
	resize: none; /* Запрещаем изменение размера */
	text-align: left; /* Текст слева */
	vertical-align: top;
	border: 2px solid var(--color-dark);
	border-radius: 4px;
	padding: 10px;
	font-size: 16px;
	outline: none;
}

footer {
	height: 234px;
	width: 100vw;
	background-color: var(--color-dark);
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	place-items: center;
}

.footer__container {
	height: 98px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer__logo {
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-bottom: 8px;
	height: 98px;
	width: 399px;
}

.footer__phone {
	text-align: center;
	padding-left: 7px;
	line-height: 3px;
	color: var(--color-light-gray);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.offert__container {
	height: 32px;
	color: #4b5563;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	top: -20px;
	margin: 0px 20px;
	gap: 40px;
}

.offert__item {
	height: 32px;
}

.dev__name {
	width: 242px;
	text-align: right;
}
